<h1>用户注册</h1>
  <a href="/login">去登录</a>
  <div>
    <form action="/signup" method="post">
        <p>
            <label for="last_name">姓</label>
            <input type="text" id="last_name" name="last_name">
        </p>
        <p>
            <label for="first_name">名</label>
            <input type="text" id="first_name" name="first_name">
        </p>
        <p>
            <label for="gender">性别</label>
            <input type="text" id="gender" name="gender">
        </p>
        <p>
            <label for="email">邮箱</label>
            <input type="text" id="email" name="email">
        </p>
        <p>
            <label for="password">密码</label>
            <input type="text" id="password" name="password">
        </p>
    </form>
  </div>